/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
  /* display: inline-flex; */
}

/******************************************
/* LAYOUT
/*******************************************/
.game {
  display: flex;
  /* align-items: baseline; */
  flex-direction: column;
}

img {
  display: block;
  margin: 0 auto;
  height: 200px;
  /* float: right; */
  width: auto;
}

button {
  color: red;
  font-weight: 700;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
